.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiTabs-root button:focus {
    border: 0;
    outline: none !important;
}

label {
  font-weight: 900 !important;
  opacity: 1 !important;
}

input {
  font-weight: bold !important;
  opacity: 0.8 !important;
}

.form-control {
  font-weight: bold !important;
  opacity: 0.8 !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #333 !important;
  font-weight: normal !important;
  opacity: 0.9 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #333 !important;
  opacity: 0.9 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #333 !important;
  opacity: 0.9 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
